<header>
  <nav class="navbar">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../assets/images/logo-icommerce.png" height="50px">
      </a>
    </div>
    <div class="container">
      <div class="input-group">
        <input name="searchBar" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon1" [(ngModel)]="searchValue">
        <span class = "input-group-btn">
            <button class = "btn btn-default" type = "button" [routerLink]="['search', 'product', searchValue]">
               <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </span>
      </div>
    </div>
    <button type="button" class="btn btn-default" [routerLink]="['/register']" *ngIf="isLogged()">Conta</button>
    <button type="button" class="btn btn-default" (click)="logout()" *ngIf="isLogged()">Logout</button>
    <button type="button" class="btn btn-default" [routerLink]="['/login']" *ngIf="!isLogged()">Login</button>
    <button type="button" class="btn btn-info" [routerLink]="['/checkout']">Carrinho <small>({{ getCheckoutCount() }})</small></button>
    <button type="button" class="btn btn-success" [routerLink]="['/newProduct']" *ngIf="isAdmin()">+Novo produto</button>
  </nav>
</header>

<ol class="breadcrumb">
  <li><a [routerLink]="['/']">Home</a></li>
</ol>
<router-outlet></router-outlet>
