<h1>Carrinho</h1>

<div *ngIf="hasProducts()">
  <div class="media" *ngFor="let prod of products; let i = index">
    <div class="media-left">
      <a [routerLink]="['/product', prod.id]">
        <img class="media-object" src="{{ prod.image }}" height="64px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a [routerLink]="['/product', prod.id]">
          {{ prod.name }} | {{ prod.price | currency:'BRL':true:'1.2-2' }}
        </a>
      </h4>
      <input type="number" name="quantity" min="1" [max]="prod.stock" onkeydown="return false"
             [(ngModel)]="prod.qnt" (change)="recalculateTotalPrice()">
      <span class="price">{{ prod.price * prod.qnt | currency:'BRL':true:'1.2-2' }}</span>
    </div>
    <div class="media-right">
      <button type="button" class="btn btn-danger" (click)="remove(i)">Remover</button>
    </div>
  </div>
  <h2>
    {{ totalPrice | currency:'BRL':true:'1.2-2' }}
  </h2>
  <button type="button" class="btn btn-success" (click)="checkout()">Comprar</button>
</div>
<div *ngIf="!hasProducts()">
  <h3>Não há produtos no carrinho.</h3>
  <button type="button" class="btn btn-success" [routerLink]="['/']">Vá às compras!</button>
</div>
