<div class="container">
  <img align="top" class="product-image" src="https://www.kotous.com/media/catalog/product/cache/2/image/650x/040ec09b1e35df139433887a97daa66f/j/o/jokernew-6.jpg"/>
  <div class="product-info">
    <h2>Joker Figure</h2>
    <div>
      <h3>Preço</h3> <span>R$ 150,00</span>
    </div>
    <div>
      <h3>Descrição</h3> <span>A hell of an action figure!</span>
    </div>
    <div>
      <h3>Categoria</h3> <span>Action figure</span>
    </div>
    <div>
      <h3>Estoque restante</h3> <span>1</span>
    </div>
  </div>
</div>
