<div class="container">
  <h1>Buscar {{ type }} <small>{{ term }}</small></h1>
</div>
<div class="media" *ngFor="let prod of products">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ prod.image }}" alt="{{ prod.description }}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ prod.name }}</h4>
    <span class="price">{{ prod.price | currency:'BRL':true:'1.2-2' }}</span>
    <span class="description">{{ prod.description }}</span>
  </div>
</div>
