<div class="container">
  <div class="panel panel-default float-left">
    <!-- Default panel contents -->
    <div class="panel-heading">Categorias</div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let cat of categories">{{ cat }}</li>
    </ul>
  </div>

  <div id="slider1" class="csslider infinity">
    <input type="radio" name="slides" id="slides_1">
    <input type="radio" name="slides" id="slides_2">
    <input type="radio" name="slides" checked="checked" id="slides_3">
    <input type="radio" name="slides" id="slides_4">
    <input type="radio" name="slides" id="slides_5">
    <ul>
      <li>
        <h1>Slide 1</h1>
        <p>This is slide 1</p>
      </li>
      <li> <img src="http://hd.wallpaperswide.com/thumbs/dream_house-t1.jpg"> </li>
      <li> <img src="2.png"> </li>
      <li> <img src="http://hd.wallpaperswide.com/thumbs/dream_house-t1.jpg"> </li>
      <li> <img src="4.png"> </li>
      <li> <img src="http://hd.wallpaperswide.com/thumbs/dream_house-t1.jpg"> </li>
    </ul>
    <div class="arrows">
      <label for="slides_1"></label>
      <label for="slides_2"></label>
      <label for="slides_3"></label>
      <label for="slides_4"></label>
      <label for="slides_5"></label>
      <label for="slides_1" class="goto-first"></label>
      <label for="slides_5" class="goto-last"></label>
    </div>
    <div class="navigation">
      <div>
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_4"></label>
        <label for="slides_5"></label>
      </div>
    </div>
  </div>

  <div class="panel panel-default float-right">
    <!-- Default panel contents -->
    <div class="panel-heading">Recomendados</div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let prod of newProducts">{{ prod.name }}</li>
    </ul>
  </div>

  <div class="panel panel-default block">
    <!-- Default panel contents -->
    <div class="panel-heading">Últimas compras</div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">R$ 500,00<br>Cálculo 1 - James Stewart</li>
      <li class="list-group-item">R$ 200,00<br>Física mecânica - Halliday</li>
      <li class="list-group-item">R$ 100,00<br>Camisa IC - Azul</li>
      <li class="list-group-item">R$ 35,00<br>Camisa CC - Azul</li>
      <li class="list-group-item">R$ 50,00<br>Camisa EC - Azul</li>
    </ul>
  </div>
</div>
