<div id="register">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label" >Nome</label>
      <div class="col-sm-8">
        <input class="form-control" id="disabledInput" type="text" disabled value="Nickname">
      </div>
    </div>
    <div class="form-group has-feedback" [class.has-success]="isCEPValid" [class.has-error]="isCEPValid === false">
      <label class="col-sm-2 control-label">CEP</label>
      <div class="col-sm-8">
        <input class="form-control" id="focusedInput" type="number" name="cep"
               [(ngModel)]="cep" (blur)="checkCEP()" (focus)="resetData()">
        <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="isCEPValid" [class.glyphicon-remove]="isCEPValid === false"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label" >Estado</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" name="estado" disabled
               [(ngModel)]="address.state">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label" >Cidade</label>
      <div class="col-sm-5">
        <input class="form-control" type="text" name="cidade" disabled
               [(ngModel)]="address.city">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label" >Bairro</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" name="bairro" disabled
               [(ngModel)]="address.neighborhood">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label" >Logradouro</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" name="rua" disabled
               [(ngModel)]="address.street">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Número</label>
      <div class="col-sm-2">
        <input class="form-control" type="number" name="cep"
               [(ngModel)]="number">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Complemento</label>
      <div class="col-sm-8">
        <textarea class="form-control" name="complemento"
                  [(ngModel)]="details"></textarea>
      </div>
    </div>
    <div class="centralize-button">
      <button (click)="submit()" class="btn btn-success" aria-haspopup="true">Salvar</button>
    </div>
  </form>
</div>
